﻿@model IEnumerable<WebApp.Models.ResidentViewModel>

@{
    ViewBag.Title = "Beboere";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Beboere</h2>

<p>
    @Html.ActionLink("Upload Beboere", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room)
        </th>
        <th>
            @Html.DisplayName("Kontakt")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room)
        </td>
        @using(Html.BeginForm("Index", "Residents", FormMethod.Post))
        {
            @Html.Hidden("id", item.Id)
            @Html.Hidden("name", item.Name)
            @Html.Hidden("room", item.Room)
            <td>
                @Html.DropDownList("contactList", null, new { @class = "form-control ", id = @item.Id , onchange = "this.form.submit();" })
                
                @{ 
                    string group = "Ingen";
                    string contact = "Ingen";

                    if (item.ContactGroup != null)
                    {
                        group = "Gruppe-" + item.ContactGroup.Id.ToString() + "-" + item.ContactGroup.Name;
                    }

                    if (item.Contact != null)
                    {
                        contact = "Kontakt-" + item.Contact.Id.ToString() + "-" + item.Contact.Name;
                    }
                }
                <script type="text/javascript">
                    (function () {
                        var id = '@item.Id';
                        
                        var group = '@group';
                        var contact = '@contact';

                        if (group !== 'Ingen') {
                            document.getElementById(id).value = group;
                        }

                        if (contact !== 'Ingen') {
                            document.getElementById(id).value = contact;
                        }
                    })();
                </script>
            </td>
        }
        <td>
            @Html.ActionLink("Rediger", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
            @Html.ActionLink("Slet", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
