﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Salus Nord</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Salus Nord", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (
                        Session["LoggedIn"] != null &&
                        (bool)Session["LoggedIn"] &&
                        (string)Session["role"] == "Provider")
                    {
                        <li>@Html.ActionLink("Administratorer", "Index", "Provider")</li>
                        <li>@Html.ActionLink("Plejehjem", "Index", "NursingHome")</li>
                    }

                    @if (
                        Session["LoggedIn"] != null &&
                        (bool)Session["LoggedIn"] &&
                        (string)Session["role"] == "NursingHome")
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="productDropdown" data-toggle="dropdown" href="#">Kontakter<span class="caret" style="margin-left: 5px"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Kontakter", "Index", "Contacts")</li>
                                <li>@Html.ActionLink("Kontaktgrupper", "Index", "ContactGroups")</li>

                            </ul>
                        </li>
                        <li>@Html.ActionLink("Beboere", "Index", "Residents")</li>
                    }
                </ul>

                @if (Session["LoggedIn"] != null && (bool)Session["LoggedIn"])
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li> @Html.ActionLink("Velkommen " + ((string)Session["Username"]), "Index", "Accounts")</li>
                        <li>@Html.ActionLink("Log ud", "Logout", "Login", new { returnUrl = "/Home/Index" }, null)</li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Log ind", "Index", "Login")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Salus Nord IVS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
